@{
    ViewBag.Title = "ReportResult";
    Layout = "~/Views/_layoutPageMenu.cshtml";
}

<h3>ReportResult</h3>


<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

</div>