@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/_layoutPageMenu.cshtml";
}

<link href="~/Content/kontakt.css" rel="stylesheet" />
<style>
</style>
<div class="marginesy">
    <h3>Kontakt</h3>
    <div class="jumbotron obramowanie">

        <div class="card">
            <span style="display:inline; margin-left:10%;">
                <img src="~/images/kozielski.jpg" alt="Avatar" style="width:30%" />
            </span>
            <div class="container">
                <h4><b>Mirosław Kozielski</b></h4>
                Komandor Rajdu <br />
                telefon: 605-365-760
            </div>
        </div>
        <br />
        <div class="card">
            <span style="display:inline; margin-left:10%;">
                <img src="~/images/img_avatar.png" alt="Avatar" style="width:30%" />
            </span>
            <div class="container">
                <h4><b>Marcin Juranek</b></h4>
                Elektroniczny pomiar czasu, strona <br />
                email: <a href="mailto:mszana2017@maraton24.hw7.pl?Subject=Maraton%20kontakt" target="_top">mszana2017@maraton24.hw7.pl</a><br />
                telefon:
            </div>
        </div>

    </div>
</div>