.odstep {
        padding:5px 5px 5px 5px;
    }
     .rozmiar{
        font-size:16px;
    }
     .obramowanie_gora {
        padding-top:10px;
        border-top:solid;
        border-color:cornflowerblue;
    }
     .obramowanie_dol {
        padding-bottom:10px;
        border-bottom:solid;
        border-color:cornflowerblue;
    }
        .obramowanie_lewo {
        padding-left:10px;
        border-left:solid;
        border-color:cornflowerblue;
    }
      .obramowanie_prawo {
        padding-right:10px;
        border-right:solid;
        border-color:cornflowerblue;
    }
