.obramowanie
    {
        padding: 20px;
        border-radius:10px;
        box-shadow: 5px 5px 5px #aaa;
        border: 1px solid #ddd;
    }
    p {
        display:block;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right:0;
        
    }
    .czcionka {
    font-family:Verdana;
    font-size:14px;
    }
    .marginesy {
        margin-left:10%;
        margin-right:10%;
        margin-bottom:2%;
        margin-top:2%;
    }
     hr {
        display:block;
        margin-top: 0.5em;
        margin-left: auto;
        margin-right: 30%;
        margin-bottom: 0.5em;
        border-style:inset;
        border-width:1px;
    }
